# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: mysql2
  encoding: utf8
  username: relevancer
  password: <%= ENV['RELEVANCER_PASSWORD'] %>

development:
  <<: *default
  database: relevancer_development
  host: 127.0.0.1
  port: 3306

test:
  <<: *default
  database: relevancer_test
  username: <%= ENV['RELEVANCER_USER'] %>
  password: <%= ENV['RELEVANCER_PASSWORD'] %>
  host: 127.0.0.1
  port: 3306

production:
  <<: *default
  database: relevancer_production
  host: <%= ENV['RELEVANCER_DB_HOST'] %>
  port: 3306
